* {
    text-align: center;
    font-family: 'Arial';
    color: rgb(85, 0, 0);
}
html {
    background-image: url(./background.jpg);
}
header {

}
.navbar {
    sticky: 0px;
    opacity: 0.75;
}
.content {
    border-style: b;
    border-color:rgb(85, 0, 0);
    
}