* {
    text-align: center;
    font-family: 'Arial';
    color: rgb(85, 0, 0);
}
html {
    background-image: url(./background.jpg);
    background-repeat: repeat-y;
    background-size:cover;
}
body {
    width: 50%;
    border-style: dashed;
    border-right: 25%;
    background-color: blanchedalmond;
    opacity: 90%;
    background-size: 50%;
    background-position-x: 50%;
}
.navbar {
    margin-top: sticky;
    background-color: burlywood;
    opacity: 75%;
    margin-left:25%;
    margin-right: 25%;
    text-align:center;
}
.content {
    margin:auto;
    text-align: center;
    width: 50%;
    background-size: 100%;
    top: 5%;
    position: relative;
    vertical-align: top;
}